In [1]:
# Numpy and pandas
import pandas as pd
import numpy as np

#Visualization
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

# Statistics tools
import scipy.stats as stats

# Sklearn data clean
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler

# Model selection
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectFromModel
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

# Logistic Regression
from sklearn.linear_model import Lasso, LogisticRegression

# KNN Classifer 
from sklearn.neighbors import KNeighborsClassifier

# Decision Trees
from sklearn import tree
from sklearn.tree import DecisionTreeRegressor
from IPython.display import Image
import pydotplus
import graphviz

# Random Forests 
from sklearn.ensemble import RandomForestClassifier

# SVM
from sklearn.svm import SVC

# Gradient Boost
from xgboost import XGBClassifier

# Evaluate
from sklearn import metrics
from sklearn.metrics import log_loss,accuracy_score, f1_score,roc_auc_score, confusion_matrix, classification_report

# Hyperparameter tuning
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

# Datetime
from datetime import datetime

# Import data
import warnings

In [2]:
tweets = pd.read_csv('/Users/tsawaengsri/Desktop/Data Science Courses/Datasets/cresci-2017.csv/datasets_full.csv/clean_tweets')
users = pd.read_csv('/Users/tsawaengsri/Desktop/Data Science Courses/Datasets/cresci-2017.csv/datasets_full.csv/clean_users')

In [3]:
tweets.head()

,id,text,source,user_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweet_count,reply_count,favorite_count,num_hashtags,num_urls,num_mentions,created_at,timestamp,crawled_at,updated,class
0,589144017444700161,Everything Emily http://t.co/6dhsg6P8sD,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",2.210092e+09,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Fri Apr 17 19:10:54 +0000 2015,2015-04-17 21:10:54,2015-05-01 14:05:39,2015-05-01 14:05:39,0
1,509830721054466048,@AhmadKKotb if you mean it in a friendly way..,"<a href=""http://twitter.com/download/iphone"" r...",4.997373e+08,5.098305e+17,173659825.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,Wed Sep 10 22:28:10 +0000 2014,2014-09-11 00:28:10,2015-05-01 13:19:53,2015-05-01 13:19:53,0
2,526702310979022848,Great Introduction to Uriah Heep http://t.co/...,"<a href=""http://tweetadder.com"" rel=""nofollow""...",9.386146e+08,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Mon Oct 27 11:49:51 +0000 2014,2014-10-27 12:49:51,2014-11-13 06:16:45,2014-11-13 06:16:45,1
3,403063192764821504,"""Se non amo, non sono niente"". Jean Racine","<a href=""http://www.benedettalacci.it"" rel=""no...",1.273206e+09,0.000000e+00,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,Wed Nov 20 07:32:08 +0000 2013,2013-11-20 08:32:08,2014-11-13 19:06:15,2014-11-13 19:06:15,1
4,509041558327681024,It wasnt a mission to be a rock star. It wasnt...,"<a href=""http://tweetadder.com"" rel=""nofollow""...",5.224195e+08,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Mon Sep 08 18:12:19 +0000 2014,2014-09-08 20:12:19,2014-11-13 03:20:37,2014-11-13 03:20:37,1

In [4]:
tweets.shape

(6283436, 18)

In [5]:
users.head()

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,lang,profile_image_url,...,profile_sidebar_border_color,profile_sidebar_fill_color,profile_background_image_url,profile_background_color,profile_link_color,created_at,timestamp,crawled_at,updated,class
0,521086027,Haymitch Evergre,HaymitchEvergr7,10893,920,1764,1,2,en,http://pbs.twimg.com/profile_images/1888103644...,...,EEEEEE,EFEFEF,http://abs.twimg.com/images/themes/theme14/bg.gif,131516,009999,Sun Mar 11 06:59:04 +0000 2012,2012-03-11 07:59:04,2014-05-05 23:24:32,2016-03-15 15:40:18,1
1,222290847,HUGO ARRIAGA,ARHG66,54,10,91,14,0,en,http://pbs.twimg.com/profile_images/4780416328...,...,C0DEED,DDEEF6,http://abs.twimg.com/images/themes/theme1/bg.png,C0DEED,0084B4,Fri Dec 03 00:18:40 +0000 2010,2010-12-03 01:18:40,2015-05-01 15:53:46,2016-03-15 15:53:57,0
2,2381421956,Nancey Odegard,NanceyOdegard,45,4,34,0,0,en,http://pbs.twimg.com/profile_images/4447725081...,...,FFFFFF,DDEEF6,http://pbs.twimg.com/profile_background_images...,0000FF,0000FF,Mon Mar 10 03:06:50 +0000 2014,2014-03-10 04:06:50,2014-05-05 00:21:24,2016-03-15 15:12:40,1
3,3070794500,cvee,cristieeevee,936,162,153,225,0,en,http://pbs.twimg.com/profile_images/5924657235...,...,C0DEED,DDEEF6,http://abs.twimg.com/images/themes/theme1/bg.png,C0DEED,0084B4,Tue Mar 10 05:32:56 +0000 2015,2015-03-10 06:32:56,2015-05-02 01:36:29,2016-03-15 16:03:53,0
4,1413053256,Gaurang Makwana,gaurang9007,2308,479,652,390,21,en,http://pbs.twimg.com/profile_images/5608187956...,...,EEEEEE,EFEFEF,http://abs.twimg.com/images/themes/theme14/bg.gif,131516,009999,Wed May 08 15:02:48 +0000 2013,2013-05-08 17:02:48,2015-05-02 05:01:08,2016-03-15 16:04:55,0

In [6]:
users.shape

(7989, 24)

## Exploratory Data Analysis
Exploratory Data Analysis (EDA) is an iterative process to explore the data and summarize characteristics by calculating statistics or visualize methods. The purpose of EDA is gain an understanding of the data by identifying trends, anomalies, or relationships that might be helpful when making decisions in the modeling process.

In [ ]:
# Bot vs human tweets 
counts = tweets['class'].value_counts()
human = counts[0]
bot = counts[1]
human_per = (human/(human + bot))*100
bot_per = (bot/(human + bot))*100
print('There are {} tweets made by humans({:.3f}%) and {} tweets made by bots ({:.3f}%) in the tweets table.'.format(human, human_per, bot, bot_per))

In [ ]:
# Plot target variable
plt.figure(figsize=(12,6))
g = sns.countplot(x = 'class', data = tweets)
g.set_title('Count of Tweets made by Humans vs Bots', fontsize = 17)
g.set_xlabel('User Type', fontsize = 15)
g.set_ylabel('# Tweets', fontsize = 15)

for p in g.patches:
    height = p.get_height()
    g.text(p.get_x()+p.get_width()/2.,
            height + 3,
            '{:1.2f}%'.format(height/len(tweets) * 100),
            ha="center", fontsize=15)

In [ ]:
# Bot vs human tweets 
counts = users['class'].value_counts()
human = counts[0]
bot = counts[1]
human_per = (human/(human + bot))*100
bot_per = (bot/(human + bot))*100
print('There are {} genuine accounts({:.3f}%) and {} spambot accounts ({:.3f}%) in the users table.'.format(human, human_per, bot, bot_per))

In [ ]:
# Plot target variable
plt.figure(figsize=(12,6))
g = sns.countplot(x = 'class', data = users)
g.set_title('Number of Accounts', fontsize = 17)
g.set_xlabel('User Type', fontsize = 15)
g.set_ylabel('# Users', fontsize = 15)

for p in g.patches:
    height = p.get_height()
    g.text(p.get_x()+p.get_width()/2.,
            height + 3,
            '{:1.2f}%'.format(height/len(users) * 100),
            ha="center", fontsize=15)

In [ ]:
# tweets per day

In [ ]:
# tweet over time

In [ ]:
# pauses between tweets

[Source](https://datascienceplus.com/twitter-analysis-with-python/)
You can see that in the first tweet we can find an URL, punctuations and a username of one tweetos (preceded by @). Before the data visualisation or the sentiment analysis it is necessary to clean the data. Delete the punctuations, the URLs, put the test in a lower case, extract the username for examples. It is possible to add more steps but in our case it won’t be useful.

For the first step we are going to extract the username through the tweets (preceded by @ or by RT @). We keep this information in the column “tweetos”.

In [ ]:
# Preprocessing del RT @blablabla:
df['tweetos'] = '' 

#add tweetos first part
for i in range(len(df['text'])):
    try:
        df['tweetos'][i] = df['text'].str.split(' ')[i][0]
    except AttributeError:    
        df['tweetos'][i] = 'other'

#Preprocessing tweetos. select tweetos contains 'RT @'
for i in range(len(df['text'])):
    if df['tweetos'].str.contains('@')[i]  == False:
        df['tweetos'][i] = 'other'
        
# remove URLs, RTs, and twitter handles
for i in range(len(df['text'])):
    df['text'][i] = " ".join([word for word in df['text'][i].split()
                                if 'http' not in word and '@' not in word and '<' not in word])


df['text'][1]

We can see that the first step of the cleaning it well done ! The username and the URL are deleted correctly. Now we are going to delete certains punctuations, put the text in lower case and delete the double space with the function apply.

In [ ]:
df['text'] = df['text'].apply(lambda x: re.sub('[!@#$:).;,?&]', '', x.lower()))
df['text'] = df['text'].apply(lambda x: re.sub('  ', ' ', x))
df['text'][1]