In [1]:
# Numpy and pandas
import pandas as pd
import numpy as np

#Visualization
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

# Statistics tools
import scipy.stats as stats

# Sklearn data clean
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler

# Model selection
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectFromModel
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

# Logistic Regression
from sklearn.linear_model import Lasso, LogisticRegression

# KNN Classifer 
from sklearn.neighbors import KNeighborsClassifier

# Decision Trees
from sklearn import tree
from sklearn.tree import DecisionTreeRegressor
from IPython.display import Image
import pydotplus
import graphviz

# Random Forests 
from sklearn.ensemble import RandomForestClassifier

# SVM
from sklearn.svm import SVC

# Gradient Boost
from xgboost import XGBClassifier

# Evaluate
from sklearn import metrics
from sklearn.metrics import log_loss,accuracy_score, f1_score,roc_auc_score, confusion_matrix, classification_report

# Hyperparameter tuning
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

# Datetime
from datetime import datetime

# Import data
import warnings

In [3]:
df = pd.read_csv('/Users/tsawaengsri/Desktop/Data Science Courses/Datasets/cresci-rtbust-2019.tsv', sep='\t')

In [4]:
df.head()

            3039154799  human
0            390617262    bot
1           4611389296  human
2   734396807745286145  human
3  1010978324569640960    bot
4  1012447780504326145  human

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 758 entries, 0 to 757
Data columns (total 2 columns):
3039154799    758 non-null int64
human         758 non-null object
dtypes: int64(1), object(1)
memory usage: 12.0+ KB

In [7]:
df = pd.read_csv('/Users/tsawaengsri/Desktop/Data Science Courses/Datasets/varol-2017.dat')

In [8]:
df.head()

  3098421349\t1
0  554067867\t1
1  256597786\t1
2  103351486\t1
3  199973582\t1
4   22942001\t1

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2572 entries, 0 to 2571
Data columns (total 1 columns):
3098421349	1    2572 non-null object
dtypes: object(1)
memory usage: 20.2+ KB