In [1]:
# Numpy and pandas
import pandas as pd
import numpy as np

#Visualization
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

# Statistics tools
import scipy.stats as stats

# Sklearn data clean
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler

# Model selection
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectFromModel
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

# Logistic Regression
from sklearn.linear_model import Lasso, LogisticRegression

# KNN Classifer 
from sklearn.neighbors import KNeighborsClassifier

# Decision Trees
from sklearn import tree
from sklearn.tree import DecisionTreeRegressor
from IPython.display import Image
import pydotplus
import graphviz

# Random Forests 
from sklearn.ensemble import RandomForestClassifier

# SVM
from sklearn.svm import SVC

# Gradient Boost
from xgboost import XGBClassifier

# Evaluate
from sklearn import metrics
from sklearn.metrics import log_loss,accuracy_score, f1_score,roc_auc_score, confusion_matrix, classification_report

# Hyperparameter tuning
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

# Datetime
from datetime import datetime

# Import data
import warnings

In [2]:
fake_tweets = pd.read_csv('/Users/tsawaengsri/Desktop/Data Science Courses/Datasets/cresci-2017.csv/datasets_full.csv/fake_followers.csv/tweets.csv')
fake_tweets.head()

/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (8,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,created_at,id,text,source,user_id,truncated,in_reply_to_status_id,in_reply_to_user_id,in_reply_to_screen_name,retweeted_status_id,...,retweet_count,reply_count,favorite_count,favorited,retweeted,possibly_sensitive,num_hashtags,num_urls,num_mentions,timestamp
0,Sat Apr 20 13:19:19 +0000 2013,325599560959393793,https://t.co/iocNIgHxXH. @LovesOfaLDNgirl her...,"<a href=""http://twitter.com/download/iphone"" r...",10935572,NaN,0,0,NaN,NaN,...,0,0,0,NaN,NaN,NaN,0,1,1,2013-04-20 15:19:19
1,Tue Apr 16 19:31:39 +0000 2013,324243711443730434,Well done hubby @Allan_76 http://t.co/AaeTwLucUG,"<a href=""http://instagram.com"" rel=""nofollow"">...",10935572,NaN,0,0,NaN,NaN,...,0,0,0,NaN,NaN,NaN,0,1,1,2013-04-16 21:31:39
2,Tue Apr 16 17:38:06 +0000 2013,324215137055670274,Two years with my lovely husband - thank you f...,"<a href=""http://instagram.com"" rel=""nofollow"">...",10935572,NaN,0,0,NaN,NaN,...,0,0,0,NaN,NaN,NaN,0,1,1,2013-04-16 19:38:06
3,Sun Apr 14 15:33:00 +0000 2013,323458877003792386,Sorry bunny about your ears but I was hungry.....,"<a href=""http://instagram.com"" rel=""nofollow"">...",10935572,NaN,0,0,NaN,NaN,...,0,0,0,NaN,NaN,NaN,0,1,0,2013-04-14 17:33:00
4,Fri Apr 12 15:37:59 +0000 2013,322735354148945920,"Small man, big drink @Allan_76 http://t.co/4NU...","<a href=""http://instagram.com"" rel=""nofollow"">...",10935572,NaN,0,0,NaN,NaN,...,0,1,0,NaN,NaN,NaN,0,1,1,2013-04-12 17:37:59

In [11]:
fake_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196027 entries, 0 to 196026
Data columns (total 23 columns):
created_at                 196027 non-null object
id                         196027 non-null int64
text                       196007 non-null object
source                     196027 non-null object
user_id                    196027 non-null int64
truncated                  0 non-null float64
in_reply_to_status_id      196027 non-null int64
in_reply_to_user_id        196027 non-null int64
in_reply_to_screen_name    27159 non-null object
retweeted_status_id        0 non-null float64
geo                        0 non-null float64
place                      1683 non-null object
contributors               0 non-null float64
retweet_count              196027 non-null int64
reply_count                196027 non-null int64
favorite_count             196027 non-null int64
favorited                  0 non-null float64
retweeted                  0 non-null float64
possibly_sensitive         609 non-null float64
num_hashtags               196027 non-null int64
num_urls                   196027 non-null int64
num_mentions               196027 non-null int64
timestamp                  196027 non-null object
dtypes: float64(7), int64(10), object(6)
memory usage: 34.4+ MB

In [3]:
fake_users = pd.read_csv('/Users/tsawaengsri/Desktop/Data Science Courses/Datasets/cresci-2017.csv/datasets_full.csv/fake_followers.csv/users.csv')
fake_users.head()

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,created_at,url,...,utc_offset,is_translator,follow_request_sent,protected,verified,notifications,description,contributors_enabled,following,updated
0,80479674,YI YUAN,yi_twitts,29,19,255,1,0,Wed Oct 07 03:19:21 +0000 2009,http://www.jycondo.com,...,-18000.0,NaN,NaN,NaN,NaN,NaN,real estate sales,NaN,NaN,2013-06-12 18:38:35
1,82487179,Marcos Perez C,marcos_peca,1408,208,866,138,0,Wed Oct 14 23:40:17 +0000 2009,NaN,...,-21600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-06-12 18:38:35
2,105830531,curti lorenzo,curtilorenzo,39,59,962,8,0,Sun Jan 17 16:46:52 +0000 2010,http://www.valcavargna.com/,...,0.0,NaN,NaN,NaN,NaN,NaN,le corna del capro scappato dal gregge s'infil...,NaN,NaN,2013-06-12 18:38:35
3,114488344,ruben dario toscano,gatito2710,59,7,49,4,0,Mon Feb 15 15:49:58 +0000 2010,NaN,...,-18000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-06-12 18:38:35
4,123222267,Malek Khalaf,MalekKhalaf,987,60,521,61,1,Mon Mar 15 11:38:55 +0000 2010,http://www.facebook.com/Malek.AlBalawi,...,10800.0,NaN,NaN,NaN,NaN,NaN,"MA student at JU, Interested in Juventus,Italy...",NaN,NaN,2013-06-11 17:39:44

In [12]:
fake_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3351 entries, 0 to 3350
Data columns (total 38 columns):
id                                    3351 non-null int64
name                                  3351 non-null object
screen_name                           3351 non-null object
statuses_count                        3351 non-null int64
followers_count                       3351 non-null int64
friends_count                         3351 non-null int64
favourites_count                      3351 non-null int64
listed_count                          3351 non-null int64
created_at                            3351 non-null object
url                                   101 non-null object
lang                                  3351 non-null object
time_zone                             335 non-null object
location                              2776 non-null object
default_profile                       3034 non-null float64
default_profile_image                 6 non-null float64
geo_enabled                           139 non-null float64
profile_image_url                     3351 non-null object
profile_banner_url                    67 non-null object
profile_use_background_image          3342 non-null float64
profile_background_image_url_https    3351 non-null object
profile_text_color                    3351 non-null object
profile_image_url_https               3351 non-null object
profile_sidebar_border_color          3351 non-null object
profile_background_tile               170 non-null float64
profile_sidebar_fill_color            3351 non-null object
profile_background_image_url          3351 non-null object
profile_background_color              3351 non-null object
profile_link_color                    3351 non-null object
utc_offset                            335 non-null float64
is_translator                         0 non-null float64
follow_request_sent                   0 non-null float64
protected                             0 non-null float64
verified                              0 non-null float64
notifications                         0 non-null float64
description                           2278 non-null object
contributors_enabled                  0 non-null float64
following                             0 non-null float64
updated                               3351 non-null object
dtypes: float64(13), int64(6), object(19)
memory usage: 995.0+ KB

In [4]:
genuine_tweets = pd.read_csv('/Users/tsawaengsri/Desktop/Data Science Courses/Datasets/cresci-2017.csv/datasets_full.csv/genuine_accounts.csv/tweets.csv')
genuine_tweets.head()

/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,text,source,user_id,truncated,in_reply_to_status_id,in_reply_to_user_id,in_reply_to_screen_name,retweeted_status_id,geo,...,favorited,retweeted,possibly_sensitive,num_hashtags,num_urls,num_mentions,created_at,timestamp,crawled_at,updated
0,593932392663912449,RT @morningJewshow: Speaking about Jews and co...,"<a href=""http://tapbots.com/tweetbot"" rel=""nof...",678033.0,NaN,0.0,0.0,NaN,5.939322e+17,NaN,...,NaN,NaN,NaN,0.0,0.0,1.0,Fri May 01 00:18:11 +0000 2015,2015-05-01 02:18:11,2015-05-01 12:57:19,2015-05-01 12:57:19
1,593895316719423488,This age/face recognition thing..no reason pla...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",678033.0,NaN,0.0,0.0,NaN,0.000000e+00,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,Thu Apr 30 21:50:52 +0000 2015,2015-04-30 23:50:52,2015-05-01 12:57:19,2015-05-01 12:57:19
2,593880638069018624,Only upside of the moment I can think of is th...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",678033.0,NaN,0.0,0.0,NaN,0.000000e+00,NaN,...,NaN,NaN,NaN,2.0,0.0,0.0,Thu Apr 30 20:52:32 +0000 2015,2015-04-30 22:52:32,2015-05-01 12:57:19,2015-05-01 12:57:19
3,593847955536252928,If you're going to think about+create experien...,"<a href=""http://tapbots.com/tweetbot"" rel=""nof...",678033.0,NaN,0.0,0.0,NaN,0.000000e+00,NaN,...,NaN,NaN,NaN,2.0,0.0,0.0,Thu Apr 30 18:42:40 +0000 2015,2015-04-30 20:42:40,2015-05-01 12:57:19,2015-05-01 12:57:19
4,593847687847350272,Watching a thread on FB about possible future ...,"<a href=""http://tapbots.com/tweetbot"" rel=""nof...",678033.0,NaN,0.0,0.0,NaN,0.000000e+00,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,Thu Apr 30 18:41:36 +0000 2015,2015-04-30 20:41:36,2015-05-01 12:57:19,2015-05-01 12:57:19

In [13]:
genuine_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2839362 entries, 0 to 2839361
Data columns (total 25 columns):
id                         object
text                       object
source                     object
user_id                    float64
truncated                  float64
in_reply_to_status_id      float64
in_reply_to_user_id        float64
in_reply_to_screen_name    object
retweeted_status_id        float64
geo                        float64
place                      object
contributors               float64
retweet_count              float64
reply_count                float64
favorite_count             float64
favorited                  float64
retweeted                  float64
possibly_sensitive         float64
num_hashtags               float64
num_urls                   float64
num_mentions               float64
created_at                 object
timestamp                  object
crawled_at                 object
updated                    object
dtypes: float64(16), object(9)
memory usage: 541.6+ MB

In [5]:
genuine_users = pd.read_csv('/Users/tsawaengsri/Desktop/Data Science Courses/Datasets/cresci-2017.csv/datasets_full.csv/genuine_accounts.csv/users.csv')
genuine_users.head()

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,...,notifications,description,contributors_enabled,following,created_at,timestamp,crawled_at,updated,test_set_1,test_set_2
0,1502026416,TASUKU HAYAKAWA,0918Bask,2177,208,332,265,1,NaN,ja,...,NaN,15years ago X.Lines24,NaN,NaN,Tue Jun 11 11:20:35 +0000 2013,2013-06-11 13:20:35,2015-05-02 06:41:46,2016-03-15 15:53:47,0,0
1,2492782375,ro_or,1120Roll,2660,330,485,3972,5,NaN,ja,...,NaN,保守見習い地元大好き人間。 経済学、電工、仏教を勉強中、ちなDeではいかんのか？ (*^◯^*),NaN,NaN,Tue May 13 10:37:57 +0000 2014,2014-05-13 12:37:57,2015-05-01 17:20:27,2016-03-15 15:53:48,0,0
2,293212315,bearclaw,14KBBrown,1254,166,177,1185,0,NaN,en,...,NaN,Let me see what your best move is!,NaN,NaN,Wed May 04 23:30:37 +0000 2011,2011-05-05 01:30:37,2015-05-01 18:48:28,2016-03-15 15:53:48,0,0
3,191839658,pocahontas farida,wadespeters,202968,2248,981,60304,101,http://t.co/rGV0HIJGsu,en,...,NaN,20. menna: #farida #nyc and the 80s actually y...,NaN,NaN,Fri Sep 17 14:02:10 +0000 2010,2010-09-17 16:02:10,2015-05-01 13:55:16,2016-03-15 15:53:48,0,0
4,3020965143,Ms Kathy,191a5bd05da04dc,82,21,79,5,0,NaN,en,...,NaN,Cosmetologist,NaN,NaN,Fri Feb 06 04:10:49 +0000 2015,2015-02-06 05:10:49,2015-05-02 01:17:32,2016-03-15 15:53:48,0,0

In [14]:
genuine_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3474 entries, 0 to 3473
Data columns (total 42 columns):
id                                    3474 non-null int64
name                                  3473 non-null object
screen_name                           3474 non-null object
statuses_count                        3474 non-null int64
followers_count                       3474 non-null int64
friends_count                         3474 non-null int64
favourites_count                      3474 non-null int64
listed_count                          3474 non-null int64
url                                   1266 non-null object
lang                                  3474 non-null object
time_zone                             2475 non-null object
location                              2365 non-null object
default_profile                       1032 non-null float64
default_profile_image                 13 non-null float64
geo_enabled                           2155 non-null float64
profile_image_url                     3474 non-null object
profile_banner_url                    3165 non-null object
profile_use_background_image          3084 non-null float64
profile_background_image_url_https    3474 non-null object
profile_text_color                    3474 non-null object
profile_image_url_https               3474 non-null object
profile_sidebar_border_color          3474 non-null object
profile_background_tile               1307 non-null float64
profile_sidebar_fill_color            3474 non-null object
profile_background_image_url          3474 non-null object
profile_background_color              3474 non-null object
profile_link_color                    3474 non-null object
utc_offset                            2475 non-null float64
is_translator                         1 non-null float64
follow_request_sent                   0 non-null float64
protected                             78 non-null float64
verified                              11 non-null float64
notifications                         0 non-null float64
description                           3095 non-null object
contributors_enabled                  0 non-null float64
following                             0 non-null float64
created_at                            3474 non-null object
timestamp                             3474 non-null object
crawled_at                            3474 non-null object
updated                               3474 non-null object
test_set_1                            3474 non-null int64
test_set_2                            3474 non-null int64
dtypes: float64(13), int64(8), object(21)
memory usage: 1.1+ MB

In [6]:
soc_bot_tweets = pd.read_csv('/Users/tsawaengsri/Desktop/Data Science Courses/Datasets/cresci-2017.csv/datasets_full.csv/social_spambots_1.csv/tweets.csv')
soc_bot_tweets.head()

/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,text,source,user_id,truncated,in_reply_to_status_id,in_reply_to_user_id,in_reply_to_screen_name,retweeted_status_id,geo,...,favorited,retweeted,possibly_sensitive,num_hashtags,num_urls,num_mentions,created_at,timestamp,crawled_at,updated
0,532627591686275072,I Pooh - In silenzio 1968 http://t.co/ahvQxUqTws,"<a href=""http://www.facebook.com/twitter"" rel=...",24858289,NaN,0,0,NaN,0,NaN,...,NaN,NaN,NaN,0,1,0,Wed Nov 12 20:14:48 +0000 2014,2014-11-12 21:14:48,2014-11-12 21:44:09,2014-11-12 21:44:09
1,532624255058706432,http://t.co/HyI5EQKz6Q,"<a href=""http://www.facebook.com/twitter"" rel=...",24858289,NaN,0,0,NaN,0,NaN,...,NaN,NaN,NaN,0,1,0,Wed Nov 12 20:01:32 +0000 2014,2014-11-12 21:01:32,2014-11-12 21:44:09,2014-11-12 21:44:09
2,532513524460052480,"Tutti a tavola, con il filetto di baccalà. htt...","<a href=""http://www.facebook.com/twitter"" rel=...",24858289,NaN,0,0,NaN,0,NaN,...,NaN,NaN,NaN,0,1,0,Wed Nov 12 12:41:32 +0000 2014,2014-11-12 13:41:32,2014-11-12 21:44:09,2014-11-12 21:44:09
3,532297646669852672,http://t.co/NAHQ4l2pUy,"<a href=""http://www.facebook.com/twitter"" rel=...",24858289,NaN,0,0,NaN,0,NaN,...,NaN,NaN,NaN,0,1,0,Tue Nov 11 22:23:43 +0000 2014,2014-11-11 23:23:43,2014-11-12 21:44:09,2014-11-12 21:44:09
4,532295960807100416,Gold - Spandau Ballet http://t.co/o8ZJHt7Neu,"<a href=""http://www.facebook.com/twitter"" rel=...",24858289,NaN,0,0,NaN,0,NaN,...,NaN,NaN,NaN,0,1,0,Tue Nov 11 22:17:01 +0000 2014,2014-11-11 23:17:01,2014-11-12 21:44:09,2014-11-12 21:44:09

In [7]:
soc_bot_users = pd.read_csv('/Users/tsawaengsri/Desktop/Data Science Courses/Datasets/cresci-2017.csv/datasets_full.csv/social_spambots_1.csv/users.csv')
soc_bot_users.head()

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,...,verified,notifications,description,contributors_enabled,following,created_at,timestamp,crawled_at,updated,test_set_1
0,24858289,Davide Bertoli,davideb66,1299,22,40,1,0,NaN,it,...,NaN,NaN,NaN,NaN,NaN,Tue Mar 17 08:51:12 +0000 2009,2009-03-17 09:51:12,2014-04-19 14:46:19,2016-03-15 14:12:22,1
1,33212890,Elisa D'Ospina,ElisaDospina,18665,12561,3442,16358,110,http://t.co/ceK8TovxwI,it,...,NaN,NaN,Autrice del libro #unavitatuttacurve dal 9 apr...,NaN,NaN,Sun Apr 19 14:38:04 +0000 2009,2009-04-19 16:38:04,2014-05-18 23:20:58,2016-03-15 14:17:13,1
2,39773427,Donato Vincenzo,Vladimir65,22987,600,755,14,6,NaN,it,...,NaN,NaN,[Live Long and Prosper],NaN,NaN,Wed May 13 15:34:41 +0000 2009,2009-05-13 17:34:41,2014-05-13 23:21:54,2016-03-15 14:16:44,1
3,57007623,Rafiela Morales L.,RafielaMorales,7975,398,350,11,2,NaN,en,...,NaN,NaN,"Cuasi Odontologa*♥,#Bipolar, #Sarcastica & Som...",NaN,NaN,Wed Jul 15 12:55:03 +0000 2009,2009-07-15 14:55:03,2014-05-19 23:24:18,2016-03-15 14:18:54,1
4,63258466,§ h a † u r♄,FabrizioC_c,20218,413,405,162,8,http://t.co/PK5F0JDKcy,it,...,NaN,NaN,"I shall rise from my own death, to avenge hers...",NaN,NaN,Wed Aug 05 21:12:49 +0000 2009,2009-08-05 23:12:49,2014-05-11 23:22:23,2016-03-15 14:17:05,1

In [8]:
trad_bot_tweets = pd.read_csv('/Users/tsawaengsri/Desktop/Data Science Courses/Datasets/cresci-2017.csv/datasets_full.csv/traditional_spambots_1.csv/tweets.csv')
trad_bot_tweets.head()

,id,text,source,user_id,truncated,in_reply_to_status_id,in_reply_to_user_id,in_reply_to_screen_name,retweeted_status_id,geo,...,favorited,retweeted,possibly_sensitive,num_hashtags,num_urls,num_mentions,created_at,timestamp,crawled_at,updated
0,22642586115,CPPRI Recruitment 2010 at http://ping.fm/yp8zH,"<a href=""http://www.ping.fm/"" rel=""nofollow"">P...",7248952,NaN,0,0,NaN,0,NaN,...,NaN,NaN,NaN,0,1,0,1283282654000L,2010-08-31 21:24:14,0000-00-00 00:00:00,2014-04-16 23:57:17
1,22642583483,National Games Secretariat Recruitment 2010 :...,"<a href=""http://www.ping.fm/"" rel=""nofollow"">P...",7248952,NaN,0,0,NaN,0,NaN,...,NaN,NaN,NaN,0,1,0,1283282651000L,2010-08-31 21:24:11,0000-00-00 00:00:00,2014-04-16 23:57:17
2,22642524678,CIPET Recruitment Jobs at http://ping.fm/KnFCa,"<a href=""http://www.ping.fm/"" rel=""nofollow"">P...",7248952,NaN,0,0,NaN,0,NaN,...,NaN,NaN,NaN,0,1,0,1283282592000L,2010-08-31 21:23:12,0000-00-00 00:00:00,2014-04-16 23:57:17
3,22642504361,DIAT Recruitment 2010 at http://ping.fm/huS9m,"<a href=""http://www.ping.fm/"" rel=""nofollow"">P...",7248952,NaN,0,0,NaN,0,NaN,...,NaN,NaN,NaN,0,1,0,1283282571000L,2010-08-31 21:22:51,0000-00-00 00:00:00,2014-04-16 23:57:17
4,22642475789,BHEL Recruitment 2010 : http://ping.fm/PLWWA,"<a href=""http://www.ping.fm/"" rel=""nofollow"">P...",7248952,NaN,0,0,NaN,0,NaN,...,NaN,NaN,NaN,0,1,0,1283282543000L,2010-08-31 21:22:23,0000-00-00 00:00:00,2014-04-16 23:57:17

In [9]:
trad_bot_users = pd.read_csv('/Users/tsawaengsri/Desktop/Data Science Courses/Datasets/cresci-2017.csv/datasets_full.csv/traditional_spambots_1.csv/tweets.csv')
trad_bot_users.head()

,id,text,source,user_id,truncated,in_reply_to_status_id,in_reply_to_user_id,in_reply_to_screen_name,retweeted_status_id,geo,...,favorited,retweeted,possibly_sensitive,num_hashtags,num_urls,num_mentions,created_at,timestamp,crawled_at,updated
0,22642586115,CPPRI Recruitment 2010 at http://ping.fm/yp8zH,"<a href=""http://www.ping.fm/"" rel=""nofollow"">P...",7248952,NaN,0,0,NaN,0,NaN,...,NaN,NaN,NaN,0,1,0,1283282654000L,2010-08-31 21:24:14,0000-00-00 00:00:00,2014-04-16 23:57:17
1,22642583483,National Games Secretariat Recruitment 2010 :...,"<a href=""http://www.ping.fm/"" rel=""nofollow"">P...",7248952,NaN,0,0,NaN,0,NaN,...,NaN,NaN,NaN,0,1,0,1283282651000L,2010-08-31 21:24:11,0000-00-00 00:00:00,2014-04-16 23:57:17
2,22642524678,CIPET Recruitment Jobs at http://ping.fm/KnFCa,"<a href=""http://www.ping.fm/"" rel=""nofollow"">P...",7248952,NaN,0,0,NaN,0,NaN,...,NaN,NaN,NaN,0,1,0,1283282592000L,2010-08-31 21:23:12,0000-00-00 00:00:00,2014-04-16 23:57:17
3,22642504361,DIAT Recruitment 2010 at http://ping.fm/huS9m,"<a href=""http://www.ping.fm/"" rel=""nofollow"">P...",7248952,NaN,0,0,NaN,0,NaN,...,NaN,NaN,NaN,0,1,0,1283282571000L,2010-08-31 21:22:51,0000-00-00 00:00:00,2014-04-16 23:57:17
4,22642475789,BHEL Recruitment 2010 : http://ping.fm/PLWWA,"<a href=""http://www.ping.fm/"" rel=""nofollow"">P...",7248952,NaN,0,0,NaN,0,NaN,...,NaN,NaN,NaN,0,1,0,1283282543000L,2010-08-31 21:22:23,0000-00-00 00:00:00,2014-04-16 23:57:17

In [10]:
crowdflower = pd.read_csv('/Users/tsawaengsri/Desktop/Data Science Courses/Datasets/cresci-2017.csv/datasets_full.csv/crowdflower_results.csv/crowdflower_results_aggregated.csv')
crowdflower.head()

,crowdflower_id,trusted_answers,last_answer_at,class,class_confidence,ground_truth_class,comments,account_type,dataset,twitter_user_id,twitter_screen_name
0,911068393,3,2016-03-22 10:43:29,genuine,1.0000,genuine,NaN,genuine accounts,genuine accounts,678033,heathr
1,911068394,3,2016-03-22 10:44:32,genuine,1.0000,genuine,NaN,genuine accounts,genuine accounts,806975,mrinaldesai
2,911068395,3,2016-03-22 10:45:36,spambot,0.6787,genuine,NaN,genuine accounts,genuine accounts,887281,Payo
3,911068396,3,2016-03-22 10:42:47,genuine,1.0000,genuine,NaN,genuine accounts,genuine accounts,1382561,jojoko
4,911068397,3,2016-03-22 11:11:12,genuine,1.0000,genuine,NaN,genuine accounts,genuine accounts,1813221,Poormojo