# Random Forests 

Random forests is a supervised learning algorithm that is comprised of decision trees which are created from randomly selected data samples. The algorithm gets prediciton from each tree and selects the best solution by votes. The prediction result with the most votes becomes the final prediction. 

__Ensemble learning__ (or "ensembling") is simply the process of combining several models to solve a prediction problem, with the goal of producing a combined model that is more accurate than any individual model. For __classification__ problems, the combination is often done by majority vote. For __regression__ problems, the combination is often done by taking an average of the predictions. 

One popular method is __bootstrap aggregration/bagging__ where we take a subset of the data and train a model on each subset. Then the subsets are allowed to simultaneously vote on the outcome. This increases predictive accuracy by reducing the variance, similar to how cross-validation reduces the variance associated with the test set approach (for estimating out-of-sample error) by splitting many times an averaging the results.

Rather than building muiltple models, __boosting__ uses the output of one model as an input into the next forming a a serial/daisy-chained process. 

The last category is __stacking__, which incorperates bagging and boosting. In the first phase, multiple models are trained in parallel. Then, those models are used as inputs into a final model to give a prediction. 

### Advantages
* Random forests is considered as a highly accurate and robust method because of the number of decision trees participating in the process.
* It does not suffer from the overfitting problem. The main reason is that it takes the average of all the predictions, which cancels out the biases.
* The algorithm can be used in both classification and regression problems.
* Random forests can also handle missing values by using median values to replace continuous variables, and computing the proximity-weighted average of missing values.

### Disadvantages 
* Random forests is slow in generating predictions because it has multiple decision trees. 
* The model is difficult to interpret compared to a decision tree, where you can easily make a decision by following the path in the tree.

### Finding important features 
Random forests also offer good feature selection indictors by showing relative importance of each feature in a prediction. It uses gini index to describe the explanatory power of a the variable. If the decrease of impurity is large after the binary split, then the variable is signigicant.

## Model Example 
We will be building a model on the [Lending Club](https://www.lendingclub.com/info/download-data.action) 2015 dataset to predict the state of a loan given.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA 
from sklearn import ensemble
from sklearn.model_selection import cross_val_score
%matplotlib inline

In [2]:
# Import Data

yr2015 = pd.read_csv('LoanStats3d_securev1.csv',
                    skipinitialspace=True,
                    header=1,
                    skipfooter=2)

/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

In [3]:
yr2015.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
421090,36371250,NaN,10000,10000,10000.0,36 months,11.99%,332.10,B,B5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
421091,36441262,NaN,24000,24000,24000.0,36 months,11.99%,797.03,B,B5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
421092,36271333,NaN,13000,13000,13000.0,60 months,15.99%,316.07,D,D2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
421093,36490806,NaN,12000,12000,12000.0,60 months,19.99%,317.86,E,E3,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
421094,36271262,NaN,20000,20000,20000.0,36 months,11.99%,664.20,B,B5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

Looks like there are many rows with missing data, but that is ok since random forests can work with that.

In [4]:
yr2015.dtypes

id                         int64
member_id                float64
loan_amnt                  int64
funded_amnt                int64
funded_amnt_inv          float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 150, dtype: object

Since there are 150 attributes in this dataset, let's start to determine our model features by exploring the categorical data first.

## Data Cleaning

When selecting categorical variables for our model, we will use get_dummy function, which is memory intensive if there are many stinctive values. To reduce the complexity of our model, we will take a look at all our categorical variables and convert those with over 30 distinctive values to numeric values.

In [5]:
categorical = yr2015.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]
    print(i)
    print(column.nunique())

term
2
int_rate
111
grade
7
sub_grade
35
emp_title
120812
emp_length
11
home_ownership
4
verification_status
3
issue_d
12
loan_status
7
pymnt_plan
2
url
421095
desc
34
purpose
14
title
27
zip_code
914
addr_state
49
earliest_cr_line
668
revol_util
1211
initial_list_status
2
last_pymnt_d
55
next_pymnt_d
5
last_credit_pull_d
56
application_type
2
verification_status_joint
1
hardship_flag
2
hardship_type
1
hardship_reason
9
hardship_status
3
hardship_start_date
30
hardship_end_date
31
payment_plan_start_date
31
hardship_loan_status
4
debt_settlement_flag
2
debt_settlement_flag_date
48
settlement_status
3
settlement_date
51

There are a couple of columns, such as emp_title and revol_util that have more than a thousand distinctive values. Lets drop the ones with over 30 unique values, converting to numeric where it makes sense. In doing this there's a lot of code that gets written to just see if the numeric conversion makes sense. It's a manual process that we'll abstract away and just include the conversion.

In [6]:
# Convert ID and Interest Rate to numeric.
yr2015['id'] = pd.to_numeric(yr2015['id'], errors='coerce')
yr2015['int_rate'] = pd.to_numeric(yr2015['int_rate'].str.strip('%'), errors='coerce')

# Drop other columns with many unique variables
yr2015.drop(['url', 'emp_title', 'zip_code', 'earliest_cr_line', 'revol_util',
            'sub_grade', 'addr_state', 'desc','last_pymnt_d','last_credit_pull_d',
            'hardship_end_date','payment_plan_start_date','debt_settlement_flag_date'], 1, inplace=True)

In [7]:
pd.get_dummies(yr2015)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,settlement_date_Nov-2017,settlement_date_Nov-2018,settlement_date_Oct-2015,settlement_date_Oct-2016,settlement_date_Oct-2017,settlement_date_Oct-2018,settlement_date_Sep-2015,settlement_date_Sep-2016,settlement_date_Sep-2017,settlement_date_Sep-2018
0,68355089,NaN,24700,24700,24700.0,11.99,820.28,65000.0,16.06,1,...,0,0,0,0,0,0,0,0,0,0
1,66310712,NaN,35000,35000,35000.0,14.85,829.90,110000.0,17.06,0,...,0,0,0,0,0,0,0,0,0,0
2,68407277,NaN,3600,3600,3600.0,13.99,123.03,55000.0,5.91,0,...,0,0,0,0,0,0,0,0,0,0
3,68476807,NaN,10400,10400,10400.0,22.45,289.91,104433.0,25.37,1,...,0,0,0,0,0,0,0,0,0,0
4,68341763,NaN,20000,20000,20000.0,10.78,432.66,63000.0,10.78,0,...,0,0,0,0,0,0,0,0,0,0
5,68426831,NaN,11950,11950,11950.0,13.44,405.18,34000.0,10.20,0,...,0,0,0,0,0,0,0,0,0,0
6,68426545,NaN,16000,16000,16000.0,12.88,363.07,70000.0,26.40,0,...,0,0,0,0,0,0,0,0,0,0
7,68476668,NaN,20000,20000,20000.0,9.17,637.58,180000.0,14.67,0,...,0,0,0,0,0,0,0,0,0,0
8,68338832,NaN,1400,1400,1400.0,12.88,47.10,64000.0,34.95,0,...,0,0,0,0,0,0,0,0,0,0
9,66624733,NaN,18000,18000,18000.0,19.48,471.70,150000.0,9.39,0,...,0,0,0,0,0,0,0,0,0,0
10,68356421,NaN,22400,22400,22400.0,12.88,508.30,95000.0,22.98,0,...,0,0,0,0,0,0,0,0,0,0
11,68466926,NaN,10000,10000,10000.0,6.49,306.45,85000.0,13.07,0,...,0,0,0,0,0,0,0,0,0,0
12,68616873,NaN,8000,8000,8000.0,11.48,263.74,42000.0,34.80,0,...,0,0,0,0,0,0,0,0,0,0
13,67275481,NaN,20000,20000,20000.0,8.49,631.26,85000.0,17.61,1,...,0,0,0,0,0,0,0,0,0,0
14,68466961,NaN,28000,28000,28000.0,6.49,858.05,92000.0,21.60,0,...,0,0,0,0,0,0,0,0,0,0
15,68506798,NaN,23000,23000,23000.0,8.49,471.77,64000.0,18.28,0,...,0,0,0,0,0,0,0,0,0,0
16,68495092,NaN,8650,8650,8650.0,19.89,320.99,55000.0,25.49,0,...,0,0,0,0,0,0,0,0,0,0
17,68566886,NaN,29900,29900,29900.0,12.88,678.49,65000.0,21.77,0,...,0,0,0,0,0,0,0,0,0,0
18,68354783,NaN,9600,9600,9600.0,7.49,298.58,60000.0,22.44,0,...,0,0,0,0,0,0,0,0,0,0
19,68009401,NaN,16000,16000,16000.0,14.85,379.39,48000.0,33.18,0,...,0,0,0,0,0,0,0,0,0,0
20,68577849,NaN,18000,18000,18000.0,11.99,400.31,112000.0,8.68,0,...,0,0,0,0,0,0,0,0,0,0
21,68466916,NaN,25000,25000,25000.0,7.49,777.55,109000.0,26.02,0,...,0,0,0,0,0,0,0,0,0,0
22,68476702,NaN,28000,28000,28000.0,13.44,949.38,125000.0,7.49,0,...,0,0,0,0,0,0,0,0,0,0
23,68436666,NaN,5000,5000,5000.0,13.44,169.54,79000.0,12.70,0,...,0,0,0,0,0,0,0,0,0,0
24,68596180,NaN,20000,20000,20000.0,5.32,602.30,65000.0,18.83,0,...,0,0,0,0,0,0,0,0,0,0
25,68607141,NaN,17600,17600,17600.0,5.32,530.03,88000.0,26.59,0,...,0,0,0,0,0,0,0,0,0,0
26,67715283,NaN,16000,16000,16000.0,12.88,538.18,65000.0,18.96,0,...,0,0,0,0,0,0,0,0,0,0
27,68526907,NaN,16000,16000,16000.0,17.97,406.04,109000.0,23.35,0,...,0,0,0,0,0,0,0,0,0,0
28,67849662,NaN,4225,4225,4225.0,14.85,146.16,35000.0,15.22,2,...,0,0,0,0,0,0,0,0,0,0
29,68526883,NaN,15000,15000,15000.0,5.32,451.73,44000.0,15.34,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421065,36631385,NaN,13000,13000,13000.0,8.19,408.52,85000.0,8.05,1,...,0,0,0,0,0,0,0,0,0,0
421066,36231083,NaN,15000,15000,15000.0,11.99,498.15,70000.0,8.47,0,...,0,0,0,0,0,0,0,0,0,0
421067,36691397,NaN,20000,20000,20000.0,6.99,617.46,72000.0,27.24,0,...,0,0,0,0,0,0,0,0,0,0
421068,36743377,NaN,4200,4200,4200.0,15.99,147.64,48000.0,36.93,0,...,0,0,0,0,0,0,0,0,0,0
421069,36331554,NaN,26950,26950,26950.0,8.19,846.88,54000.0,18.11,0,...,0,0,0,0,0,0,0,0,0,0
421070,36460697,NaN,23000,23000,23000.0,15.59,554.32,50000.0,31.95,0,...,0,0,0,0,0,0,0,0,0,0
421071,35773415,NaN,18700,18700,18700.0,17.86,473.44,52000.0,11.28,0,...,0,0,0,0,0,0,0,0,0,0
421072,36250801,NaN,6000,6000,6000.0,17.86,216.50,90000.0,2.84,0,...,0,0,0,0,0,0,0,0,0,0
421073,36371802,NaN,15000,15000,15000.0,11.44,329.44,57000.0,15.77,0,...,0,0,0,0,0,0,0,0,0,0
421074,36440728,NaN,25000,25000,25000.0,15.99,607.82,103000.0,5.27,0,...,0,0,0,0,0,0,0,0,0,0
421075,36361815,NaN,26500,26500,26500.0,8.67,545.87,92000.0,29.60,1,...,0,0,0,0,0,0,0,0,0,0
421076,35591131,NaN,25000,25000,25000.0,15.59,602.52,55000.0,5.52,0,...,0,0,0,0,0,0,0,0,0,0
421077,36381756,NaN,8000,8000,8000.0,8.19,251.40,50000.0,17.62,0,...,0,0,0,0,0,0,0,0,0,0
421078,36201871,NaN,21000,21000,21000.0,6.03,639.15,65000.0,17.09,0,...,0,0,0,0,0,0,0,0,0,0
421079,36231724,NaN,12000,12000,12000.0,9.49,384.34,40000.0,25.65,1,...,0,0,0,0,0,0,0,0,0,0
421080,36301729,NaN,10000,10000,10000.0,6.49,306.45,75000.0,33.66,0,...,0,0,0,0,0,0,0,0,0,0
421081,36250208,NaN,13150,13150,13150.0,14.99,312.77,30000.0,1.00,0,...,0,0,0,0,0,0,0,0,0,0
421082,36241316,NaN,6225,6225,6225.0,16.49,220.37,27000.0,18.58,0,...,0,0,0,0,0,0,0,0,0,0
421083,36231718,NaN,10775,10775,10775.0,6.03,327.95,54000.0,13.22,1,...,0,0,0,0,0,0,0,0,0,0
421084,36381704,NaN,7000,7000,7000.0,14.31,240.30,57000.0,16.80,2,...,0,0,0,0,0,0,0,0,0,0
421085,36421485,NaN,4000,4000,4000.0,8.67,126.59,50000.0,12.63,0,...,0,0,0,0,0,0,0,0,0,0
421086,35094480,NaN,7500,7500,7500.0,9.49,240.22,40000.0,25.63,0,...,0,0,0,0,0,0,0,0,0,0
421087,36260758,NaN,10850,10850,10850.0,19.24,399.04,32000.0,29.44,0,...,0,0,0,0,0,0,0,0,0,0
421088,36221446,NaN,11575,11575,11575.0,15.59,404.61,25400.0,27.08,0,...,0,0,0,0,0,0,0,0,0,0
421089,36330911,NaN,12000,12000,12000.0,11.99,398.52,63000.0,23.69,1,...,0,0,0,0,0,0,0,0,0,0
421090,36371250,NaN,10000,10000,10000.0,11.99,332.10,31000.0,28.69,0,...,0,0,0,0,0,0,0,0,0,0
421091,36441262,NaN,24000,24000,24000.0,11.99,797.03,79000.0,3.90,0,...,0,0,0,0,0,0,0,0,0,0
421092,36271333,NaN,13000,13000,13000.0,15.99,316.07,35000.0,30.90,0,...,0,0,0,0,0,0,0,0,0,0
421093,36490806,NaN,12000,12000,12000.0,19.99,317.86,64400.0,27.19,1,...,0,0,0,0,0,0,0,0,0,0
421094,36271262,NaN,20000,20000,20000.0,11.99,664.20,100000.0,10.83,0,...,0,0,0,0,0,0,0,0,0,0

## Iteration 1

We will run the random forest classifier with all numeric and some categorical variables that have distinctive values less than 30.

In [8]:
# Instantiating the model

rfc = ensemble.RandomForestClassifier()

X = yr2015.drop('loan_status', 1)
X = pd.get_dummies(X)
# Dropping NA instead of imputing because data is probably rich enough
X = X.dropna(axis=1)
Y = yr2015['loan_status']

cross_val_score(rfc, X, Y, cv=10)

/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

array([0.99024078, 0.9896234 , 0.99043005, 0.99076229, 0.99121328,
       0.99111829, 0.9914266 , 0.99116536, 0.9915216 , 0.9914266 ])

The score cross validation reports is the accuracy of the tree. Here we're about 99% accurate.

However, we did not refine the model so there maybe a few potential problems. Let's try to trim down as much data as possible without dropping below an average of 90% accuracy in a 10-fold cross validation.

## Iteration 2

Let's try to identify features with the most gini importance and use those variables as features.

In all feature selection procedures, it is a good practice to select the features by examining only the training set. This is to avoid overfitting.

In [10]:
from sklearn.model_selection import train_test_split

# Split the data into 20% test and 80% training
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

#### Train a Random Forest Classifer 

Here I will do the model fitting and feature selection altogether in one line of code.
* Firstly, I specify the random forest instance, indicating the number of trees.
* Then I use selectFromModel object from sklearn to automatically select the features.

In [11]:
rfc.fit(X_train, y_train)

/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

#### Identify and Select Most Important Features

In [12]:
rfc1_fi = rfc.feature_importances_
indicies = np.argsort(rfc1_fi)
feat_names = X.columns

In [31]:
# Function to print the name and gini importance of each feature
def feat_importance(feat_names, model):
    for feature in zip(feat_names, model.feature_importances_):
        print(feature)

In [32]:
feat_importance(feat_names, rfc)

('id', 0.0015280826259228648)
('loan_amnt', 0.012873405134428046)
('funded_amnt', 0.015997063452009724)
('funded_amnt_inv', 0.005191760142525622)
('int_rate', 0.0016693503056198701)
('installment', 0.013637818565100721)
('annual_inc', 0.001478887941333025)
('delinq_2yrs', 0.0003453288213054866)
('fico_range_low', 0.0009214420020791519)
('fico_range_high', 0.0008319111279550576)
('inq_last_6mths', 0.0004229116944076966)
('open_acc', 0.0009095573808778446)
('pub_rec', 0.0002538342520389341)
('revol_bal', 0.001774133006955125)
('total_acc', 0.0011152326812746342)
('out_prncp', 0.12241392310488304)
('out_prncp_inv', 0.04300599800035037)
('total_pymnt', 0.017547902797376655)
('total_pymnt_inv', 0.02656794278232938)
('total_rec_prncp', 0.08384471466987911)
('total_rec_int', 0.021224309765299147)
('total_rec_late_fee', 0.002039659726045958)
('recoveries', 0.11400193787572148)
('collection_recovery_fee', 0.08628146154170543)
('last_pymnt_amnt', 0.06768318392930682)
('last_fico_range_high', 0.10692340370336395)
('last_fico_range_low', 0.050925704300846954)
('collections_12_mths_ex_med', 7.256685776492797e-05)
('policy_code', 0.0)
('acc_now_delinq', 3.2439366582454014e-05)
('tot_coll_amt', 0.00040927936247669153)
('tot_cur_bal', 0.0011984801190424608)
('total_rev_hi_lim', 0.001365229807980429)
('acc_open_past_24mths', 0.0009336334568547843)
('avg_cur_bal', 0.0012902938042707384)
('chargeoff_within_12_mths', 5.966432441901726e-05)
('delinq_amnt', 2.95179410196396e-05)
('mo_sin_old_rev_tl_op', 0.0013854417733898505)
('mo_sin_rcnt_rev_tl_op', 0.0010600062913857706)
('mo_sin_rcnt_tl', 0.0009576596304932362)
('mort_acc', 0.0005091524294597384)
('num_accts_ever_120_pd', 0.00036969287020950734)
('num_actv_bc_tl', 0.0006696709118992384)
('num_actv_rev_tl', 0.0008451460525390434)
('num_bc_sats', 0.0007273097363752545)
('num_bc_tl', 0.0009366293069075817)
('num_il_tl', 0.00101314560684677)
('num_op_rev_tl', 0.0009229721701489894)
('num_rev_tl_bal_gt_0', 0.0007657741380131813)
('num_sats', 0.0009011053882663014)
('num_tl_30dpd', 2.3436705698789966e-05)
('num_tl_90g_dpd_24m', 0.00013896645422690047)
('num_tl_op_past_12m', 0.0007726748195318333)
('pct_tl_nvr_dlq', 0.0008324891576382689)
('pub_rec_bankruptcies', 0.000246926606217972)
('tax_liens', 9.683242626968423e-05)
('tot_hi_cred_lim', 0.0012502114100925138)
('total_bal_ex_mort', 0.0012243859400638117)
('total_bc_limit', 0.0017488057111731791)
('total_il_high_credit_limit', 0.0010000240102415296)
('term_ 36 months', 0.01974539360867657)
('term_ 60 months', 0.021744276305305524)
('grade_A', 9.215566437242238e-05)
('grade_B', 0.00018318366342460368)
('grade_C', 0.0002021715776912875)
('grade_D', 0.0006786815609770521)
('grade_E', 0.002677123065897467)
('grade_F', 0.00014935778602209016)
('grade_G', 1.4247125336705422e-05)
('emp_length_1 year', 0.00013132694099559416)
('emp_length_10+ years', 0.00022762011069776575)
('emp_length_2 years', 0.00012541023777413004)
('emp_length_3 years', 0.00010923495764044872)
('emp_length_4 years', 0.00010933112736864296)
('emp_length_5 years', 0.00012441687603312882)
('emp_length_6 years', 9.681132413359996e-05)
('emp_length_7 years', 6.320249750833785e-05)
('emp_length_8 years', 0.00011250081104100317)
('emp_length_9 years', 8.425174938199677e-05)
('emp_length_< 1 year', 0.00010472103713468476)
('home_ownership_ANY', 0.0)
('home_ownership_MORTGAGE', 0.00022131980619251876)
('home_ownership_OWN', 0.000156130107359548)
('home_ownership_RENT', 0.00020101970237260727)
('verification_status_Not Verified', 0.00024247490865094958)
('verification_status_Source Verified', 0.0001979972972270567)
('verification_status_Verified', 0.00029378780350738335)
('issue_d_Apr-2015', 0.00013735038698671717)
('issue_d_Aug-2015', 0.00010510208364730762)
('issue_d_Dec-2015', 0.00012175767610379088)
('issue_d_Feb-2015', 0.00013889184864513968)
('issue_d_Jan-2015', 0.000128402615846577)
('issue_d_Jul-2015', 0.00013803192226902254)
('issue_d_Jun-2015', 0.00012770084856733127)
('issue_d_Mar-2015', 9.192596409556488e-05)
('issue_d_May-2015', 0.0001272164728190987)
('issue_d_Nov-2015', 0.000151164653665079)
('issue_d_Oct-2015', 0.00015705248086616923)
('issue_d_Sep-2015', 0.00013826141200968666)
('pymnt_plan_n', 4.400200378310246e-05)
('pymnt_plan_y', 3.6591509822892564e-05)
('purpose_car', 1.6135456384183907e-05)
('purpose_credit_card', 0.00021955088431604297)
('purpose_debt_consolidation', 0.00019287791100086908)
('purpose_educational', 0.0)
('purpose_home_improvement', 8.91594914209518e-05)
('purpose_house', 2.0693412524541785e-05)
('purpose_major_purchase', 5.900539990883653e-05)
('purpose_medical', 3.0290655297048523e-05)
('purpose_moving', 2.0743883097797726e-05)
('purpose_other', 0.00022382709490462597)
('purpose_renewable_energy', 2.50117578397658e-05)
('purpose_small_business', 3.884426594292654e-05)
('purpose_vacation', 2.3347468328517838e-05)
('purpose_wedding', 0.0)
('title_Business', 4.3846914613214524e-05)
('title_Car financing', 3.127963858008216e-05)
('title_Credit Card/Auto Repair', 0.0)
('title_Credit card refinancing', 0.00014641607021271364)
('title_Debt consolidation', 0.00018877918040842895)
('title_DebtC', 0.0)
('title_Green loan', 7.627967246421023e-06)
('title_Home buying', 1.3403336484364288e-05)
('title_Home improvement', 9.392444412274396e-05)
('title_Learning and training', 0.0)
('title_Major purchase', 3.5253596479609834e-05)
('title_Medical expenses', 3.831323767846115e-05)
('title_Moving and relocation', 3.049261726615091e-05)
('title_New Baby and New House (CC Consolidate)', 0.0)
('title_Other', 9.160167061421563e-05)
('title_Pay off Lowes Card', 0.0)
('title_Paying off higher interest cards & auto', 0.0)
('title_Prescription Drug and Medical Costs', 0.0)
('title_SAVE', 0.0)
('title_Simple Loan Until Contract Is Completed', 0.0)
('title_Student Loan', 0.0)
('title_Trying to come back to reality!', 0.0)
('title_Vacation', 1.9962121648246296e-05)
('title_considerate', 0.0)
('title_new day', 0.0)
('title_new kitchen for momma!', 0.0)
('title_odymeds', 0.0)
('initial_list_status_f', 0.00021695445997269697)
('initial_list_status_w', 0.00018417415669910912)
('next_pymnt_d_Aug-2019', 0.07568244090859355)
('next_pymnt_d_Dec-2018', 0.0)
('next_pymnt_d_Jul-2019', 0.013710749297645273)
('next_pymnt_d_May-2019', 0.0)
('next_pymnt_d_Sep-2018', 0.0)
('application_type_Individual', 4.60363900101911e-06)
('application_type_Joint App', 2.8634007616010276e-06)
('verification_status_joint_Not Verified', 9.138062011023388e-06)
('hardship_flag_N', 3.342023392650468e-05)
('hardship_flag_Y', 5.499520860836937e-05)
('hardship_type_INTEREST ONLY-3 MONTHS DEFERRAL', 0.000248613714629374)
('hardship_reason_DISABILITY', 2.3033994725163467e-06)
('hardship_reason_DIVORCE', 8.2688248115617e-06)
('hardship_reason_EXCESSIVE_OBLIGATIONS', 3.239720893440661e-05)
('hardship_reason_FAMILY_DEATH', 1.3414665313742255e-06)
('hardship_reason_INCOME_CURTAILMENT', 2.9067172416698843e-05)
('hardship_reason_MEDICAL', 3.543049837909984e-05)
('hardship_reason_NATURAL_DISASTER', 1.768721106031025e-05)
('hardship_reason_REDUCED_HOURS', 1.9159385055932093e-05)
('hardship_reason_UNEMPLOYMENT', 9.830971179135685e-05)
('hardship_status_ACTIVE', 5.901149527750495e-05)
('hardship_status_BROKEN', 0.00013917546020481288)
('hardship_status_COMPLETED', 9.349991619032557e-05)
('hardship_start_date_Apr-2017', 0.0)
('hardship_start_date_Apr-2018', 1.2611832492768584e-06)
('hardship_start_date_Apr-2019', 9.987581605932338e-06)
('hardship_start_date_Aug-2017', 2.230977795786947e-05)
('hardship_start_date_Aug-2018', 1.5349366274036225e-05)
('hardship_start_date_Dec-2017', 7.882239765060494e-06)
('hardship_start_date_Dec-2018', 1.5621315052151907e-05)
('hardship_start_date_Feb-2017', 0.0)
('hardship_start_date_Feb-2018', 4.6389808879900525e-06)
('hardship_start_date_Feb-2019', 7.472972691426847e-06)
('hardship_start_date_Jan-2018', 1.74550022935816e-05)
('hardship_start_date_Jan-2019', 7.12179977156769e-06)
('hardship_start_date_Jul-2017', 4.257692531337286e-06)
('hardship_start_date_Jul-2018', 6.827026704159933e-06)
('hardship_start_date_Jul-2019', 2.0293591843512716e-05)
('hardship_start_date_Jun-2017', 1.8955594745461688e-05)
('hardship_start_date_Jun-2018', 1.0187045948200891e-05)
('hardship_start_date_Jun-2019', 3.634843740563642e-05)
('hardship_start_date_Mar-2017', 0.0)
('hardship_start_date_Mar-2018', 0.0)
('hardship_start_date_Mar-2019', 9.887761302758888e-06)
('hardship_start_date_May-2017', 9.097176814803148e-06)
('hardship_start_date_May-2018', 7.973436521273577e-06)
('hardship_start_date_May-2019', 6.003487341816884e-06)
('hardship_start_date_Nov-2017', 2.0745588075914583e-05)
('hardship_start_date_Nov-2018', 3.900591507387873e-06)
('hardship_start_date_Oct-2017', 2.1078507786150053e-05)
('hardship_start_date_Oct-2018', 3.5938034968403547e-06)
('hardship_start_date_Sep-2017', 2.5169390109749228e-05)
('hardship_start_date_Sep-2018', 2.1515499621730144e-05)
('hardship_loan_status_Current', 2.6602856759646258e-05)
('hardship_loan_status_In Grace Period', 4.979105441914557e-05)
('hardship_loan_status_Late (16-30 days)', 0.00010059851863317683)
('hardship_loan_status_Late (31-120 days)', 8.10280761517728e-06)
('debt_settlement_flag_N', 0.012221281769324816)
('debt_settlement_flag_Y', 0.01456463729867335)
('settlement_status_ACTIVE', 0.0004369052694086969)
('settlement_status_BROKEN', 0.00027263186462985714)
('settlement_status_COMPLETE', 0.003581638226060806)
('settlement_date_Apr-2016', 0.0)
('settlement_date_Apr-2017', 4.048095947552524e-06)
('settlement_date_Apr-2018', 0.0003128848573040859)
('settlement_date_Apr-2019', 4.160173819944967e-05)
('settlement_date_Aug-2015', 1.3367510078972486e-06)
('settlement_date_Aug-2016', 0.0)
('settlement_date_Aug-2017', 2.5759416871495935e-06)
('settlement_date_Aug-2018', 1.1363580985171757e-05)
('settlement_date_Dec-2015', 0.0)
('settlement_date_Dec-2016', 6.760184480771979e-06)
('settlement_date_Dec-2017', 8.851021230429372e-05)
('settlement_date_Dec-2018', 0.0)
('settlement_date_Feb-2016', 1.3464547450775473e-06)
('settlement_date_Feb-2017', 7.202127509800151e-05)
('settlement_date_Feb-2018', 0.00020718825572746047)
('settlement_date_Feb-2019', 3.3324279883215726e-06)
('settlement_date_Jan-2016', 0.0)
('settlement_date_Jan-2017', 2.3034488585533736e-05)
('settlement_date_Jan-2018', 7.956118859649795e-06)
('settlement_date_Jan-2019', 3.626246032730777e-06)
('settlement_date_Jul-2015', 0.0)
('settlement_date_Jul-2016', 1.3599220813996361e-06)
('settlement_date_Jul-2017', 9.969783993750171e-06)
('settlement_date_Jul-2018', 4.623901977802349e-06)
('settlement_date_Jul-2019', 2.323282718212108e-05)
('settlement_date_Jun-2015', 0.0)
('settlement_date_Jun-2016', 0.0)
('settlement_date_Jun-2017', 1.2894638438679506e-05)
('settlement_date_Jun-2018', 1.0943869359632471e-06)
('settlement_date_Jun-2019', 5.4876215777285e-06)
('settlement_date_Mar-2016', 0.0)
('settlement_date_Mar-2017', 0.0)
('settlement_date_Mar-2018', 9.578364249213027e-05)
('settlement_date_Mar-2019', 3.8420121713322665e-06)
('settlement_date_May-2015', 0.0)
('settlement_date_May-2016', 0.0)
('settlement_date_May-2017', 3.9069129377484074e-06)
('settlement_date_May-2018', 3.971252579328386e-06)
('settlement_date_May-2019', 9.78620591753808e-06)
('settlement_date_Nov-2015', 0.0)
('settlement_date_Nov-2016', 0.0)
('settlement_date_Nov-2017', 4.982336285549628e-06)
('settlement_date_Nov-2018', 1.4684629403711127e-05)
('settlement_date_Oct-2015', 0.0)
('settlement_date_Oct-2016', 7.048647650824168e-06)
('settlement_date_Oct-2017', 4.63782024992733e-07)
('settlement_date_Oct-2018', 1.1309937830475767e-05)
('settlement_date_Sep-2015', 1.3637994833872384e-06)
('settlement_date_Sep-2016', 1.303956456458762e-06)
('settlement_date_Sep-2017', 6.905613470517022e-05)
('settlement_date_Sep-2018', 1.3103763502476817e-05)

In [33]:
from sklearn.feature_selection import SelectFromModel
# Create a selector object that will use the random forest classifier to identify
# features that have an importance of more than 0.01
sfm = SelectFromModel(rfc, threshold=0.01)

# Train the selector
sfm.fit(X_train, y_train)

SelectFromModel(estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
        max_features=None, norm_order=1, prefit=False, threshold=0.01)

In [35]:
# Print the names of the most important features
for feature_list_index in sfm.get_support(indices=True):
    print(feat_names[feature_list_index])

funded_amnt
installment
out_prncp
out_prncp_inv
total_pymnt
total_pymnt_inv
total_rec_prncp
total_rec_int
recoveries
collection_recovery_fee
last_pymnt_amnt
last_fico_range_high
last_fico_range_low
term_ 36 months
term_ 60 months
next_pymnt_d_Aug-2019
next_pymnt_d_Jul-2019
debt_settlement_flag_Y

Let's use the base features into the next model.

### Create A Data Subset With Only The Most Important Features

In [36]:
# Transform the data to create a new dataset containing only the most important features
# Note: We have to apply the transform to both the training X and test X data.
X_important_train = sfm.transform(X_train)
X_important_test = sfm.transform(X_test)

### Train A New Random Forest Classifier Using Only Most Important Features

In [38]:
# Create a new random forest classifier for the most important features

cross_val_score(rfc, X_important_train, y_train, cv=10)

array([0.99397447, 0.99436018, 0.99441954, 0.99391475, 0.99388506,
       0.99355854, 0.99367727, 0.99459716, 0.99320172, 0.99358765])

There wasn't much of a change from our first iteration. Let's try using only the top 5 columns.

In [40]:
# From the top 5 features 
feature_cols = yr2015.loc[:,['funded_amnt','installment','out_prncp','out_prncp_inv',
'total_pymnt']]

In [41]:
x1 = pd.get_dummies(feature_cols)
x1 = x1.dropna(axis=1)
y1 = Y

rfc1 = ensemble.RandomForestClassifier()

cross_val_score(rfc1, x1, y1, cv=10)

/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

array([0.96155673, 0.9747115 , 0.97202631, 0.97337924, 0.97143129,
       0.97045762, 0.9686038 , 0.96770133, 0.96763009, 0.96677512])

Those scores are still relatively high. Let's try to combine some features with PCA.

In [43]:
from sklearn.decomposition import PCA
import bisect

In [44]:
def train_pca(df, expl_var=.95):
    pca = PCA()
    df = df.copy()
    df = (df-df.mean())/df.std(ddof=0)
    pca.fit(df)
    varexp = pca.explained_variance_ratio_.cumsum()
    cutoff = bisect.bisect(varexp, expl_var)
    newcols = pd.DataFrame(pca.transform(df)[:, :cutoff+1], columns=['PCA'+df.columns[i] for i in range(cutoff+1)])
    return pca, newcols

In [45]:
pca, new_df = train_pca(X_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

Ok, maybe let's go back to dropping more columns.

In [47]:
# From the top 3 features 
feature_cols2 = yr2015.loc[:,['funded_amnt','installment','out_prncp']]

In [48]:
x2 = pd.get_dummies(feature_cols2)
x2 = x2.dropna(axis=1)
y1 = Y

rfc1 = ensemble.RandomForestClassifier()

cross_val_score(rfc1, x2, y1, cv=10)

/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Users/tsawaengsri/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

array([0.75654177, 0.79942537, 0.7981525 , 0.79857516, 0.800019  ,
       0.79716925, 0.79430973, 0.79255231, 0.79744461, 0.76811457])

These scores are too low. We'll revisit later.