# Assignments

To help you find your bearings with regard to t-tests, calculate the t-values for the following numbers:

In [1]:
import pandas as pd
import numpy as np

1. 𝑦1¯=5 ,  𝑦2¯=8 ,  𝑠1=1 ,  𝑠2=3 ,  𝑁1=200 ,  𝑁2=500 <br>
t = (5-8)/((1/200) + (9/500))1/2 <br>
t = -3/(0.005 + 0.018)1/2<br>
t = -3/(0.023)1/2<br>
t = - 19.78<br>

2. 𝑦1¯=1090 ,  𝑦2¯=999 ,  𝑠1=400 ,  𝑠2=30 ,  𝑁1=900 ,  𝑁2=100 <br>
t = (1090-999)/((160,000/900) + (900/100))1/2<br>
t = 91/(177.7 + 9)1/2<br>
t = 91/(186.7)1/2  <br>
t = 6.66<br>

3. 𝑦1¯=45 ,  𝑦2¯=40 ,  𝑠1=45 ,  𝑠2=40 ,  𝑁1=2000 ,  𝑁2=2000 <br>
t = (45-40)/((2,025/2,000) + (1,600/2,000))1/2<br>
t = 5/(1.012 + 0.8)1/2<br>
t = 5/(1.812)1/2  <br>
t = 3.73<br>

In [2]:
# Create dataframe for t-values

df = pd.DataFrame({'y1':[5,1090,45],
                  'y2':[8,999,40],
                  's1':[1,400,45],
                  's2':[3,30,40],
                  'N1':[200,900,2000],
                  'N2':[500,100,2000]})
df.head()

     y1   y2   s1  s2    N1    N2
0     5    8    1   3   200   500
1  1090  999  400  30   900   100
2    45   40   45  40  2000  2000

In [3]:
# Create function to calculate t-values

t_values = []
for index, row in df.iterrows():
    t = (row['y1'] - row['y2']) / ((row['s1']**2 /row['N1'] + row['s2']**2 / row['N2'])**0.5)
    t_values.append(t)
    
print(t_values)

[-19.78141420187361, 6.658536585365854, 3.7139067635410377]